<!-- <div class="img_box">
    <img src="https://cdn.pixabay.com/photo/2010/12/06/22/soldiers-1002_960_720.jpg">
</div> -->
<nb-card status="success" >
    <nb-card-header>역사</nb-card-header>
    <nb-card-body>
      <h5>역사를 제대로 알아야 하며,
        역사를 잊은 민족에게 미래는 없다.
        
        국가의 역사는
        민족의 소장성쇠(消長盛衰)의 상태를
        가려서 기록한 것으로,
        민족을 버리면
        역사가 없을 것이며,
        역사를 버리면
        민족의 그 국가에 대한
        관념이 크지 않을 것이니,
        역사가의 책임이
        그 또한 무거운 것이다.
        
        -단재 신채호 선생</h5>
    </nb-card-body>
  </nb-card>