<div class="img_box">
<h1>군사용어</h1>
</div>
<nb-card status="success">
    <nb-card-header>용어</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer>
      <button nbButton hero status="success" (click)="transPage('/WordDetail')">상세페이지로 가기</button>
    </nb-card-footer>
  </nb-card> -->