        <div class="search-box">
            <input nbInput id="search" class="search-input" placeholder="Search" type="text" [(ngModel)]="mydata" (keyup.enter)="onEnter(mydata)">
        </div>

        <div class="search-results"
		    infiniteScroll
		    [infiniteScrollDistance]="2"
		    [infiniteScrollThrottle]="50"
		    (scrolled)="onScroll()">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">전투 기간</th>
                    <th scope="col">전투 명</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items let idx = index" class="war_scope" (click)="detailContent(idx)">
                        <td scope="row">{{item.date}}</td>
                        <td>{{item.title}}</td>
                    </tr>
                </tbody>
            </table>
		</div>

        <nb-card accent="info" *ngIf="isClick">
            <nb-card-header>{{items[index].title}}</nb-card-header>
            <nb-card-body>
                {{items[index].content}}
            </nb-card-body>
        </nb-card>